html, body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

button#btn-el {
    align-self: flex-start;
    padding: 5px;
}

button#draw-el {
    font-size: 1.2em;
    padding: 5px;
}

div.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 50px;
}

img.card {
    width: 100%;
    height: 100%;
}